* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #111;
}

h1 {
    font-size: 3rem;
    font-weight: 100;
    margin: 1rem 0 3rem;
    text-align: center;
    color: #fff;
}

.styling {
    font-weight: 800;
    color: lime;
}

.input_div {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.input_div .input {
    padding: 0.5rem 1rem;
    height: 50px;
    outline: none;
    background-color: #fff;
    border: none;
    width: 450px;
    font-size: 1.15rem;
    margin: 0.25rem;
    border-radius: 25px;

}
.addButton {
    height:  50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    color: #fff;
    margin: 0.25rem;
    background-color: lime;
}
.addButton:hover {
    opacity: 0.7;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.item {
    padding:  0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 3px solid #fff;
}
.item_input {
    background: none;
    outline: none;
    color: #fff;
    border: none;
    width:  350px;
    font-size: 1.4rem;
}

.editButton {
    font-size: 1.4rem;
    margin: 0 0.5rem;
    font-family: 'Hind', sans-serif;
    background: none;
    outline: none;
    color: lime;
    border: none;
    cursor: pointer;
}

.removeButton {
    font-size: 1.4rem;
    font-family: 'Hind', sans-serif;
    background: none;
    outline: none;
    color: #E00;
    border: none;
    cursor: pointer;
}
